@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-dark;
  }
}

@layer utilities {
  .gradient-bg {
    background: linear-gradient(135deg, #0088cb 0%, #ed1c24 100%);
  }
}
